<div class="home-container">
    <div class="rounded-box"> 
        <h2>Bienvenido al predio The Victory</h2>
        <p> Nosotros ofrecemos un lugar donde compartir un buen momento con amigos, un lugar donde se pueda juagar al futbol
            y que nos recuerde a cuando jugabamos en el potrero, en las calles, esos partidos cuyo trofeo era una simple
            botella de cocacola. 
            En nuestro predio poseemos canchas de futbol 5 y futbol 7, además contamos con pecheras para no tener que organizar 
            quién traerá qué color de remera. 
            Dicho esto, espero que disfruten y que tengan un buen partido!!  

        </p>
    </div>
</div>

