.card {
  margin: 1rem;
  /* Espaciado adicional entre tarjetas */
  width: 14rem;
  /* Asegúrate de que tengan un ancho fijo */
  flex: 0 0 auto; /* Previene que todas las tarjetas intenten estirarse */
  border: 10px solid #cccccccb;
  /* Opcional: para una mejor visualización */
  border-radius: 8px;
  /* Opcional: esquinas redondeadas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra ligera */
  align-self: flex-start; /* Cada tarjeta será del tamaño de su contenido */
}

.articulo-seleccionado {
  background-color: #e8f4e5;
  /* Fondo diferente para destacar */
  padding: 8px;
  border-top: 1px solid #aaa;
  /* Opcional: separador para detalles */
}

.lista-articulos {
  background-image: url('/assets/images/cancha-la-victoria.jpg');
  background-size: cover;
  /* Ajusta la imagen para que cubra todo el contenedor */
  background-position: center;
  /* Centra la imagen */
  height: 100vh;
  /* Altura del contenedor */
  justify-content: flex-start;
  /* Alinea los elementos al inicio */
  align-items: center;
  /* Centra los elementos horizontalmente */
  padding-top: 50px;
  /* Espacio adicional en la parte superior si es necesario */
  z-index: 10;
    color: white;
    justify-content: center;
    text-align: center;
      /* Alinea el texto en el centro */  
}

