<h1 class="text-center text-primary"><em>Hola! Has click sobre el artículo para ver la información del mismo.</em></h1>

<div *ngIf="articuloReservado" class="alert alert-success text-center fixed-top w-50 mx-auto mt-3">
  Artículo reservado correctamente.
</div>

<div *ngIf="mensajeErrorReserva" class="alert alert-danger text-center fixed-top w-50 mx-auto mt-3">
  {{ mensajeErrorReserva }}
</div>


<div class="lista-articulos d-flex flex-wrap gap-3 justify-content-center mt-4" *ngIf="lista_articulos.length > 0; else noArticulos">

   

  <div *ngFor="let articulo of lista_articulos" class="card p-3" style="width: 18rem;">
    
    <h3 (click)="mostrarDetalles(articulo)" class="text-primary">Artículo Nº {{ articulo.id }}</h3>
    
    <div *ngIf="articulo === articuloSeleccionado" class="articulo-seleccionado mt-2">
      <ng-container *ngIf="articulo.type === 'balon'; else pecheraTemplate">
        <p>Marca: {{ articulo.marca }}</p>
        <p>Tamaño: {{ articulo.size }}</p>
      </ng-container>
      <ng-template #pecheraTemplate>
        <p>Color: {{ articulo.color }}</p>
        <p>Talle: {{ articulo.talle }}</p>
      </ng-template>
      <p>Tipo: {{ articulo.type }}</p>
      <p>Stock: {{ articulo.articuloClass.cantDisponible }}</p>
      <p>Estado: {{ articulo.articuloClass.estado }}</p>

      <button class="btn btn-success mt-2" (click)="reservarArticulo(articulo)">
        Reservar
      </button>
    </div>
  </div>
</div>

<ng-template #noArticulos>
  <p class="text-center mt-5">No hay artículos disponibles.</p>
</ng-template>
