<div class="fondo-cancha">
  <div class="container mt-5 bg-dark bg-opacity-75 text-white p-4 rounded shadow">
    <h3 class="mb-4 text-center">Ubicación de la cancha</h3>
    <div class="ratio ratio-16x9">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.963904791581!2d-60.64199362460853!3d-32.951962372156494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab1a9a0ed4e1%3A0x188785e03f2d8b6d!2sSarmiento%201231%2C%20S2000%20CMU%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1747142502095!5m2!1ses!2sar" 
        width="600" 
        height="450"
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    </div>
  </div>
</div>
