.cancha-container {
  display: flex;
  flex-wrap: wrap;
  /* Permite que los elementos se envuelvan */
  gap: 1rem;
  margin-bottom: 40px;
  z-index: 40;
  background-color: #052bd7;
  color: white;
  border: none;
  border-radius: 5px;
  justify-content: flex-start;
  /* Alineación inicial en móviles */
    display: block;
}



/* Estilos base (para dispositivos móviles) */
button {
  background-color: #052bd7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  top: 0px;
  margin: 10px auto;
  /* Centrado horizontal en móvil */
  display: block;
  /* Se quita flex, los botones deben ser bloques en móvil */
  z-index: 20;
}

/* Estilos para pantallas grandes (escritorio) */
@media (min-width: 1024px) {
  .cancha-container {
    display: flex;
    /* Hacemos que el contenedor sea flex en escritorio */
    justify-content: center;
    /* Centra los botones en la pantalla */
    
  }

  button {
    font-size: 20px;
    padding: 5px 12px;
    /* Ajuste del tamaño del padding */
    margin: 0 10px;
    /* Espacio entre los botones */
    display: inline-block;
    /* Los botones ahora estarán uno al lado del otro */
  }
}

button:hover {
  background-color: #030e6c;
}


.home-container {
  background-image: url('/assets/images/FondoReserva.webp');
  background-size: cover;
  /* Ajusta la imagen para que cubra todo el contenedor */
  background-position: center;
  /* Centra la imagen */
  height: 100vh;
  /* Altura del contenedor */
  justify-content: flex-start;
  /* Alinea los elementos al inicio */
  align-items: center;
  /* Centra los elementos horizontalmente */
  padding-top: 50px;
  /* Espacio adicional en la parte superior si es necesario */
  z-index: 10;
    color: white;
    justify-content: center;
    text-align: center;
      /* Alinea el texto en el centro */    
}