<h1>¡Reservá ahora!</h1>
<p>¿Qué tipo de cancha querés?</p>
<button (click)="filtrarCanchas('futbol 7', 'disponible')">Fútbol 7</button>
<button (click)="filtrarCanchas('futbol 11', 'disponible')">Fútbol 11</button>
<button (click)="filtrarCanchas('', 'disponible')">Quitar filtro</button>

<h1>Reservas - Selecciona tu cancha</h1>
<div class="cancha-container">
  <app-canchas *ngFor="let cancha of canchasFiltradas; 
  trackBy: trackByFn" 
  [canchaData]="cancha" 
  (onClickIcon)="getCanchaInfo($event)">
  </app-canchas>
</div>
