<div class="home-container">
  <h1>¡Reservá ahora!</h1>
  <p>¿Qué tipo de cancha querés?</p>

  <button (click)="getCanchas()">Mostrar todas las canchas</button>

  <h1>Nuestras canchas</h1>

  <!-- Mostrar las canchas si hay, o el mensaje si no -->
  <div *ngIf="hasCanchas; else sinCanchas">
    <ng-container *ngFor="let cancha of lista_canchas; trackBy: trackByFn">
      <app-canchas></app-canchas>
    </ng-container>
  </div>

  <!-- Plantilla para el caso de no tener canchas -->
  <ng-template #sinCanchas>
    <p>No hay canchas disponibles en este momento. ¡desde ventana-reserva!</p>
  </ng-template>
</div>