<div class="home-container">
  <h1>¡Reservá ahora!</h1>
  <p>¿Qué tipo de cancha querés?</p>

  <button (click)="filtrarCanchas('futbol 7')" aria-label="Filtrar canchas de Fútbol 7">Fútbol 7</button>
  <button (click)="filtrarCanchas('futbol 5')" aria-label="Filtrar canchas de Fútbol 5">Fútbol 5</button>
  <button (click)="mostrarTodas()" aria-label="Mostrar todas las canchas">Mostrar disponibles</button>

  <!-- Mostrar lista de canchas -->
  <div>
    <app-canchas [canchas]="lista_canchas"></app-canchas> <!--pasa todo el arreglo a CANCHAS-->
  </div>
</div>