<div class="home-container">
  <div class="button-wrapper">
    <!-- Selector de fecha -->
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" [(ngModel)]="fechaSeleccionada" (change)="verificarSeleccion()">

    <!-- Selector de hora -->
    <label for="hora">Hora:</label>
    <input type="time" id="hora" [(ngModel)]="horaSeleccionada" (change)="verificarSeleccion()">

    <!-- Botón de selección de cancha -->
    <button routerLink="/reservas" [disabled]="!botonHabilitado">Elegir Cancha</button>
  </div>
</div>