.container {
    border: 2px solid #00BFFF; /* Color celeste */
    padding: 20px;
    border-radius: 20px;
    background-color: white; /* Fondo blanco */
    width: 50%;
    margin: 0 auto; /* Centrar el formulario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}