/* Fondo y estilos de la barra de navegación */
.navbar {
  background-color: #043fb5;
  /* Cambia este color por el que prefieras */
  padding: 10px 20px;
}

/* Estilo para el logo o nombre de la empresa */
.navbar-brand {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
}

/* Estilo para los enlaces */
.navbar .nav-link {
  color: #ffffff;
  /* Color del texto de los enlaces */
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;

}

.nav-link{
  pointer-events: auto;
  cursor: pointer;
}
/*efecto de boton en la barra de navegación*/

/* Efecto hover en los enlaces */
.navbar .nav-link:hover {
  color: #cce7ff;
  /* Cambia a un color claro al pasar el mouse */
}