<div class="card-container">
  @if (canchaData) { <!--si hay canchas-->
      <div class="card-body">
        <div class="card-content">
          <h2>Cancha Nº{{ canchaData.id }}</h2> <!-- Agregar el clic en el título -->
          <p>Cancha techada de última generacion con césped sintético y techos altos desmontables.</p>
        </div>
      </div>
      <div class="card-content pills-container">
        <p>Estado:
            @switch (canchaData.estado) {
              @case ("disponible") {
                <span class="status disponible">{{canchaData.estado}}</span>
              }
              @case ("ocupada") {
              <span class="status ocupada">{{canchaData.estado}}</span>
              }
            }
        </p>
      </div>
  } @else {
    <p>No hay ninguna cancha !!! </p>
  }
</div>
