button {
  background-color: #052bd7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  top: 250px;
  margin: 0 auto;
  /* Centrado horizontal automático */
  z-index: 20;
  display: block;
  /* Necesario para que funcione con margin: auto */
  
}

button:hover {
  background-color: #030e6c;
  color:beige
  /* Color de fondo más oscuro al pasar el cursor */
}

.home-container {
  background-image: url('/assets/images/fondo.jpeg');
    background-size: cover;
      /* Ajusta la imagen para que cubra todo el contenedor */
      background-position: center;
        /* Centra la imagen */
        height: 100vh;
          /* Altura del contenedor */
          justify-content: flex-start;
          /* Alinea los elementos al inicio */
          align-items: center;
          /* Centra los elementos horizontalmente */
          padding-top: 50px;
          /* Espacio adicional en la parte superior si es necesario */
          z-index: 10;
}

