<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="form-container" style="width: 50%; max-width: 500px; background-color: white;">
        <h2>Completar datos de registro</h2>
        <form (ngSubmit)="savePersona()" #personaForm="ngForm">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="string" class="form-control" id="nombre" [(ngModel)]="persona.name" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="string" class="form-control" id="apellido" [(ngModel)]="persona.lastname" name="apellido" required>
            </div>
            <div class="form-group">
                <label for="mail">Email:</label>
                <input type="string" class="form-control" id="mail" [(ngModel)]="persona.email" name="mail" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="persona.password" name="password" required>
            </div>
            <div class="form-group">
                <label for="dni">DNI:</label>
                <input type="number" class="form-control" id="dni" [(ngModel)]="persona.dni" name="dni" required>
            </div>
            <div class="form-group">
                <label for="phone">Telefono:</label>
                <input type="number" class="form-control" id="phone" [(ngModel)]="persona.phone" name="phone" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
        <div *ngIf="registroConfirmado">
            <p class="alert alert-success mt-3">¡Registro confirmado!</p>
            <ng-container *ngIf="redirectToHome()"></ng-container>
        </div>
        <div *ngIf="usuarioRegistrado">
            <p class="alert alert-danger mt-3">¡El usuario ya se encuentra registrado!</p>
        </div>
    </div>
</div>
