<div class="card-container" *ngIf="lista_reservas.length > 0; else noReservas">
  <div *ngFor="let reserva of lista_reservas" class="card">
    <h3>Reserva Nº {{ reserva.id }}</h3>
    <p>Fecha de la reserva: {{ reserva.fechaReserva }}</p>
    <p>Hora de inicio: {{ reserva.horaInicio }}</p>
    <p>Cliente Id: {{ reserva.idCliente }}</p>
    <p>Cancha Id: {{ reserva.idCancha }}</p>
    <button routerLink="/articulos" class="btn btn-success mt-3 mb-3">Reservar artículo/s</button>
    <button class="btn btn-danger" (click)="reserva.id !== undefined && deleteReserva(reserva.id)">Cancelar Reserva</button>
  </div>
</div>

<ng-template #noReservas>
  <p class="no-reservas">No hay reservas para mostrar</p>
</ng-template>