<div class="container">
  <h4 *ngIf="emailEncontrado && lista_reservas.length > 0" class="mt-4">
  Reservas de <strong>{{ email }}</strong>
</h4>

  <form *ngIf="!email" (ngSubmit)="buscarReservas()">
  <div class="form-group">
    <h3 style="text-align: center;">Inicie sesion para ver aquí sus reservas</h3>
  </div>
</form>


  <div class="card-container" *ngIf="emailEncontrado; else noReservas">
    <div *ngFor="let reserva of lista_reservas" class="card">
      <h3>Reserva Nº {{ reserva.id }}</h3>
      <p>Fecha de la reserva: {{ reserva.fechaReserva }}</p>
      <p>Hora de inicio: {{ reserva.horaInicio }}</p>
      <p>Mail cliente: {{ reserva.mail_cliente }}</p>
      <p>Número de cancha: {{ reserva.idCancha }}</p>
      <button routerLink="/articulos" class="btn btn-success mt-3 mb-3">Reservar artículo/s</button>
      <button class="btn btn-danger" (click)="reserva.id !== undefined && deleteReserva(reserva.id)">Cancelar Reserva</button>
    </div>
  </div>

  <ng-template #noReservas>
    <p class="no-reservas">No tiene reservas pendientes</p>
  </ng-template>
</div>